.container {
  width: 36.1rem;
  /* height: 770px; */
  border-radius: 2rem;
  padding: 2.38rem 1.78rem;
  border: 2px solid rgba(10, 13, 23, 0.05);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(190px);
  height: 100%;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 2.42rem 0.12rem 1.3rem;
}
.label {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.16px;
}
.input {
  display: flex;
  width: 100%;
  padding: 12px 14px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.08);
  color: rgba(141, 159, 184, 0.6);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.15px;
}
.cart {
  width: 32.5rem;
  height: 10.8rem;
  border-radius: 10px;
  background: linear-gradient(
    195deg,
    rgba(0, 255, 174, 0.17) 0%,
    rgba(0, 255, 174, 0.05) 50%,
    rgba(0, 255, 174, 0.05) 100%
  );

  backdrop-filter: blur(20px);
  padding: 14px 14px 19px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 2px;
}
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.cart-item,
.summery-item,
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.name {
  color: #8d9fb8;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
}
.price {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
}
.summery {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: 1.9rem;
}
.summery-items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.8rem;
  padding-top: 1.1rem;
  border-top: 1px solid rgba(141, 159, 184, 0.38);
}
@media (max-width: 1200px) {
  .container {
    width: 27.797rem;
    border-radius: 1.54rem;
    padding: 1.8326rem 1.37006rem;
    backdrop-filter: blur(146.3px);
  }
  .logo {
    width: 74px;
    height: 42px;
  }
  .input-group {
    gap: 0.924rem;
    margin: 1.8634rem 0.0924rem 1.001rem;
  }
  .label {
    font-size: 1.232rem;
    letter-spacing: -0.1232px;
  }
  .input {
    padding: 9.24px 10.78px;
    border-radius: 3.85px;
    font-size: 1.155rem;
    letter-spacing: -0.1155px;
  }
  .cart {
    width: 25.825rem;
    height: 8.316rem;
    border-radius: 7.7px;
    backdrop-filter: blur(15.4px);
    padding: 10.78px 10.78px 14.63px;
    gap: 0.924rem;
  }
  .title {
    font-size: 1.232rem;
    margin-left: 1.54px;
  }
  .cart-items {
    gap: 0.693rem;
  }
  .name {
    font-size: 0.924rem;
  }
  .price {
    font-size: 1.078rem;
  }
  .summery {
    gap: 1.001rem;
    margin-top: 1.463rem;
  }
  .summery-items {
    gap: 0.924rem;
  }
  .total {
    margin-top: 1.386rem;
    padding-top: 0.847rem;
  }
}
@media (max-width: 650px) {
  .container {
    width: 181px;
    height: 255.7px;
    border-radius: 10px;
    border: 1.003px solid rgba(10, 13, 23, 0.05);
    backdrop-filter: blur(95px);
    padding: 1.2rem 0.9rem 1.6rem;
  }
  .logo {
    width: 53px;
    height: 27.6px;
  }

  .input-group {
    gap: 0.924rem;
    margin: 1.2rem 0 0.96rem;
  }
  .label {
    font-size: 0.8rem;
    letter-spacing: -0.08px;
  }
  .input {
    padding: 6px;
    border-radius: 2.5px;
    font-size: 0.75rem;
    letter-spacing: -0.075px;
  }
  .cart {
    width: 162.962px;
    height: 54.153px;
    border-radius: 5.014px;
    backdrop-filter: blur(10.028409004211426px);
    padding: 7px 7px 9.5px;
    gap: 0.6rem;
  }
  .title {
    font-size: 0.8rem;
    margin-left: 1px;
  }
  .cart-items {
    gap: 0.45rem;
  }
  .name {
    font-size: 0.6rem;
  }
  .price {
    font-size: 0.7rem;
  }
  .summery {
    gap: 0.65rem;
    margin-top: 0.95rem;
  }
  .summery-items {
    gap: 0.64rem;
  }
  .total {
    margin-top: 0.9rem;
    padding-top: 0.55rem;
  }
}
