.container {
  width: 36.1rem;
  /* height: 770px; */
  border-radius: 2rem;
  padding: 2.38rem 1.78rem;
  border: 2px solid rgba(10, 13, 23, 0.05);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(190px);
  height: 100%;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin: 2.42rem 0.12rem 1.3rem;
}
.label {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: -0.16px;
}
.input {
  display: flex;
  width: 100%;
  padding: 12px 14px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.08);
  color: rgba(141, 159, 184, 0.6);
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: -0.15px;
}
.cart {
  width: 32.5rem;
  height: 10.8rem;
  border-radius: 10px;
  background: linear-gradient(
    195deg,
    rgba(0, 255, 174, 0.17) 0%,
    rgba(0, 255, 174, 0.05) 50%,
    rgba(0, 255, 174, 0.05) 100%
  );

  backdrop-filter: blur(20px);
  padding: 14px 14px 19px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.title {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 2px;
}
.cart-items {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.cart-item,
.summery-item,
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.name {
  color: #8d9fb8;
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: capitalize;
}
.price {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
}
.summery {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  margin-top: 1.9rem;
}
.summery-items {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.8rem;
  padding-top: 1.1rem;
  border-top: 1px solid rgba(141, 159, 184, 0.38);
}
