.page {
  position: relative;
}
.green-ball-2 {
  width: 458px;
  height: 205px;
  background: rgba(0, 255, 174, 0.28);
  filter: blur(150px);
  position: absolute;
  top: 163px;
  right: -87px;
}

.green-ball {
  width: 458px;
  height: 205px;
  background: rgba(0, 255, 174, 0.28);
  filter: blur(150px);
  position: absolute;
  top: 9px;
  left: -251px;
}

.button {
  transition: all 0.3s ease;
}

.button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: linear-gradient(180deg, #00ffae 0%, #00c088 100%);
}
