.table {
  padding: 2.8rem 0 0;
  border-top: 1px solid rgba(141, 159, 184, 0.38);
  border-bottom: 1px solid rgba(141, 159, 184, 0.38);
  position: relative;
}
.header {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 4.2rem;
}
.table-body {
  display: flex;
  flex-direction: column;
}

.row,
.special-row {
  display: grid;
  grid-template-columns: 35% auto auto auto;
  margin-bottom: 4.6rem;
}
.special-row {
  padding: 2rem 0 2.4rem;
  border-top: 1px solid rgba(141, 159, 184, 0.38);
  border-bottom: 1px solid rgba(141, 159, 184, 0.38);
  margin-bottom: 0;
}

.circles {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.value-wrapper {
  font-size: 20px;
  font-weight: 700;
  color: #8d9fb8;
}
.arrow-down {
  margin-top: 0.6rem;
}
.feature {
  color: #8d9fb8;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 4px;
}

.circle,
.included-circle {
  min-width: 23px;
  min-height: 23px;
  border-radius: 50%;
}
.circle {
  background: transparent;
  border: 1px solid #8d9fb8;
}
.included-circle {
  background: #00ffae;
}
.scroll-track {
  display: none;
}
@media (max-width: 900px) {
  .table {
    padding: 3.1rem 0 0;
    scroll-behavior: smooth;
    overflow-x: scroll;
    width: 95%;
  }
  .table-body {
    min-width: 70rem;
  }
  .header {
    gap: 4px;
    margin-bottom: 1.72rem;
    min-width: 70rem;
  }

  .row,
  .special-row {
    grid-template-columns: min(50%, 24rem) auto auto auto;
    margin-bottom: 2.36rem;
  }
  .special-row {
    padding: 1rem 0 1.3rem;
    margin-bottom: 0;
  }

  .circles {
    gap: 0.625rem;
  }
  .value-wrapper {
    font-size: 14px;
  }
  .arrow-down {
    margin-top: 0.3rem;
    width: 11.5px;
    height: 11.5px;
  }
  .feature {
    font-size: 11px;
    gap: 14px;
  }

  .circle,
  .included-circle {
    min-width: 12px;
    min-height: 12px;
  }
  .scroll-track {
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 143px;
    height: 5px;
    background: rgba(217, 217, 217, 1);
    border-radius: 33px;
    overflow: hidden;
    margin-top: 2.9rem;
  }

  .scroll-thumb {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: rgba(0, 255, 174, 1);
    border-radius: 10px;
    width: 0%;
    transition: width 0.1s ease;
  }
}
