.page {
  position: relative;
  margin: auto;
}
.container {
  background: url("/svg/candle-background.svg");
  padding: 7.9rem 0 15.2rem;
  margin-top: -1rem;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 55.6rem;
  justify-content: center;
}
.description {
  color: #8d9fb8;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.title {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.green-ball-2 {
  width: 458px;
  height: 205px;
  background: rgba(0, 255, 174, 0.28);
  filter: blur(150px);
  position: absolute;
  top: 163px;
  right: -87px;
}

.green-ball {
  width: 458px;
  height: 205px;
  background: rgba(0, 255, 174, 0.28);
  filter: blur(150px);
  position: absolute;
  top: 9px;
  left: -251px;
}
@media (max-width: 56.25rem) {
  .page {
    margin: 0 auto;
  }
  .container {
    background: url("/svg/candle-mobile.svg") top center;
    padding: 13.4rem 0 6.5rem;
    margin-top: -1rem;
  }

  .top {
    width: 33rem;
  }
  .description {
    font-size: 1.4rem;
  }
  .title {
    font-size: 36px;
  }
  .green-ball-2 {
    width: 388px;
    height: 174px;
    background: rgba(0, 255, 174, 0.28);
    filter: blur(127.37226867675781px);
    position: absolute;
    top: 138.4px;
    right: -324.2px;
  }
  .green-ball {
    width: 388px;
    height: 174px;
    background: rgba(0, 255, 174, 0.28);
    filter: blur(127.37226867675781px);
    position: absolute;
    top: 7px;
    left: -212px;
  }
}
