.page {
  width: 86.2%;
  margin: auto;
  position: relative;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 55.6rem;
  justify-content: center;
  margin: auto;
  padding-top: 6.9rem;
}
.description {
  color: #8d9fb8;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.title {
  color: #fff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* text-transform: uppercase; */
}
.green-ball-2 {
  width: 458px;
  height: 205px;
  background: rgba(0, 255, 174, 0.28);
  filter: blur(150px);
  position: absolute;
  top: 163px;
  right: -87px;
}

.green-ball {
  width: 458px;
  height: 205px;
  background: rgba(0, 255, 174, 0.28);
  filter: blur(150px);
  position: absolute;
  top: 9px;
  left: -251px;
}
.green-ball-3 {
  width: 458px;
  height: 205px;
  background: rgba(0, 255, 174, 0.28);
  filter: blur(150px);
  position: absolute;
  top: 205;
  left: -516;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  margin-bottom: 5rem;
  margin-top: 13rem;
}
.category {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.category-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
}
.title-span {
  font-weight: 300;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrows {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.arrow-wrapper,
.clickable-arrow-wrapper {
  display: flex;
  width: 4rem;
  height: 4rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #00ffae;
  background-color: transparent;
}
.clickable-arrow-wrapper {
  background: #00ffae;
  border: none;
}
.arrow,
.clickable-arrow {
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

.clickable-arrow {
  color: #051419;
}
.category-courses {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* gap: 6.2rem; */
  justify-content: space-between;
}
@media (max-width: 1400px) {
  .page {
    width: 95.2%;
  }
}

@media (max-width: 1260px) {
  .category-courses {
    /* justify-content: center; */
    /* gap: 6.2rem; */
    justify-content: center;
    gap: 4.5rem;
  }
}
@media (max-width: 56.25rem) {
  .page {
    width: max(86.2%, 36rem);
    margin: auto;
  }
  /* .top {
    width: 55.6rem;
    margin: 6.9rem auto 0;
  } */
  .top {
    width: min(42rem, 100%);
    padding-top: 13.4rem;
  }

  .description {
    font-size: 1.4rem;
  }
  .title {
    font-size: 3.6rem;
  }
  .green-ball-2 {
    width: 388px;
    height: 174px;
    background: rgba(0, 255, 174, 0.28);
    filter: blur(127.37226867675781px);
    position: absolute;
    top: 138.4px;
    right: -324.2px;
  }
  .green-ball {
    width: 388px;
    height: 174px;
    background: rgba(0, 255, 174, 0.28);
    filter: blur(127.37226867675781px);
    position: absolute;
    top: 7px;
    left: -212px;
  }
  /* .green-ball-3 {
    width: 388px;
    height: 174px;
    background: rgba(0, 255, 174, 0.28);
    filter: blur(150px);
    position: absolute;
    top: 205;
    left: -516;
  }
 */
  .courses {
    gap: 5rem;
    margin-bottom: 5.8rem;
    margin-top: 13.5rem;
  }
  .category {
    gap: 3.8rem;
  }
  .category-title {
    font-size: 3.2rem;
  }
  .arrows {
    gap: 1.38rem;
  }
  .arrow-wrapper,
  .clickable-arrow-wrapper {
    width: 2.76rem;
    height: 2.76rem;
  }
  .arrow,
  .clickable-arrow {
    font-size: 0.8rem;
  }
  .category-courses {
    gap: 2.11rem;
  }
}
@media (max-width: 600px) {
  .category-courses {
    gap: 2.11rem;
    flex-direction: column;
  }
}
