.container {
  width: 85.7%;
  margin: 9rem auto 7.7rem;
  border-top: 1px solid rgba(141, 159, 184, 0.38);
  border-bottom: 1px solid rgba(141, 159, 184, 0.38);
}
@media (max-width: 600px) {
  .container {
    width: clamp(90%, 4vw, 95%  );
    margin: 0 auto 5.3rem;
    border-top: 0;
  }
}
