.container {
  background: #050e15;
  padding: 10rem 0 11.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.title {
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 7.2rem;
}
.title-span-1 {
  background: var(
    --asa,
    linear-gradient(
      92deg,
      #fff 3.42%,
      rgba(255, 255, 255, 0.93) 56.55%,
      rgba(255, 255, 255, 0) 111.05%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-span-2 {
  color: #00ffae;
  margin-left: 1rem;
}

.categories {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: max(90%, 123rem);
}

.category {
  border-radius: 8.4px;
  border: 0.841px solid #00ffae;
  background: linear-gradient(135deg, #04111b 0%, #04101a 60%);
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 401px;
  height: 258px;
  padding: 12.6px;
}
.cat-first {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2.743rem;
}

.cat-title {
  font-size: 3.55rem;
  font-weight: 500;
  line-height: 4.65rem; /* 130.773% */
  background: var(
    --asa,
    linear-gradient(
      92deg,
      #fff 3.42%,
      rgba(255, 255, 255, 0.93) 56.55%,
      rgba(255, 255, 255, 0) 111.05%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.join-btn {
  color: #000;
  font-size: 1.46rem;
  font-weight: 500;
  display: flex;
  height: 3.56rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: #00ffae;
  cursor: pointer;
  width: 13.8rem;
}
@media (max-width: 1250px) {
  .container {
    padding: 8.5rem 8.5rem 9.52rem;
    gap: 6.8rem;
  }
  .course-image {
    width: 183px;
    height: 199px;
  }
  .title {
    font-size: 4.675rem;
    line-height: 6.12rem;
  }

  .title-span-2 {
    margin-left: 0.85rem;
  }

  .categories {
    flex-wrap: wrap;
    width: max(90%, 107rem);
  }

  .category {
    border-radius: 7.14px;
    gap: 1.93rem;
    padding: 10.71px;
    width: 340.85px;
    height: 219.3px;
  }

  .cat-first {
    gap: 2.33rem;
  }

  .cat-title {
    font-size: 3.02rem;
    line-height: 3.95rem;
  }

  .join-btn {
    font-size: 1.24rem;
    height: 3.02rem;
    border-radius: 7.65px;
    width: 11.73rem;
  }
}
@media (max-width: 1250px) {
  .container {
    padding: 5rem 0 5rem;
    width: 91%;
    margin: 0 auto;
    gap: 2.7rem;
  }
  .course-image {
    /* width: 188px;
    height: 205px; */
    width: 50%;
    height: auto;
  }
  .title {
    font-size: 3.2rem;
    line-height: 7.2rem;
  }

  .title-span-2 {
    margin-left: 0.7rem;
  }

  .categories {
    width: 100%;
    flex-direction: column;
    gap: 1.83rem;
  }

  .category {
    border-radius: 7.4px;
    gap: 1.94rem;
    padding: 11px;
    width: 100%;
    height: auto;
  }

  .cat-first {
    gap: 2.08rem;
  }

  .cat-title {
    font-size: 3rem;
    line-height: 4.86rem;
  }

  .join-btn {
    font-size: 1.2rem;
    height: 31.308px;
    border-radius: 7.9px;
    width: 12.13rem;
  }
}
@media (max-width: 380px) {
  .course-image {
    width: 50%;
    height: auto;
  }
}
