.container {
  margin-top: -8.3rem;
}
.wrapper {
  display: flex;
  padding: 14.1rem 0 0 9.6rem;
  background: url("/svg/landing-page/financial-background.svg");
  gap: 3rem;
}
.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title {
  font-size: 7.2rem;
  font-style: normal;
  font-weight: 400;
}
.title-span-1 {
  background: var(
    --asa,
    linear-gradient(
      92deg,
      #fff 3.42%,
      rgba(255, 255, 255, 0.93) 56.55%,
      rgba(255, 255, 255, 0) 111.05%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-span-2 {
  color: #00ffae;
  margin-left: 1rem;
}
.para {
  color: #8d9fb8;
  font-size: 2rem;
  font-weight: 400;
  line-height: 125.715%;
  margin-bottom: 3.8rem;
}
.join-btn {
  display: flex;
  width: 19.1rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  background: #00ffae;
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.second {
  border-radius: 1rem;
  padding: 2.2rem 0;
  border: 1px solid rgba(255, 255, 255, 0.13);
  background: rgba(217, 217, 217, 0.03);
}
@media (max-width: 1250px) {
  .container {
    margin-top: -7.055rem;
  }

  .wrapper {
    padding: 12rem 0 0 8.16rem;
  }

  .title {
    font-size: 6.12rem;
  }

  .title-span-2 {
    margin-left: 0.85rem;
  }

  .para {
    font-size: 1.7rem;
    margin-bottom: 3.23rem;
  }

  .join-btn {
    width: 16.23rem;
    height: 4.25rem;
    border-radius: 7.65px;
    font-size: 1.36rem;
  }

  .second {
    border-radius: 0.85rem;
    padding: 1.87rem 0;
    border: 1px solid rgba(255, 255, 255, 0.13);
    background: rgba(217, 217, 217, 0.03);
  }
}
