/* mentor-background */

.container {
  display: flex;
  background: url("/svg/landing-page/mentor-background.svg");
  width: 100%;
  height: 68rem;
}
.second {
  display: flex;
  flex-basis: min(47.5%, 655px);
}
/* .first {
  flex: 52.5;
} */

.mentor-image {
  /* width: min(47.5%, 70rem); */
  /* width: 47.5% !important; */
  height: auto;
}
.wrapper {
  background: linear-gradient(89deg, #050e15 22.22%, rgba(0, 0, 0, 0.5) 99.19%);
  display: flex;
  width: 100%;
}
.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 4rem;
  padding-left: 10rem;
  flex-grow: 1;
}
.text-top {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  max-width: 55.2rem;
}

.title {
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 7.2rem;
}
.title-span-1 {
  background: var(
    --asa,
    linear-gradient(
      92deg,
      #fff 3.42%,
      rgba(255, 255, 255, 0.93) 56.55%,
      rgba(255, 255, 255, 0) 111.05%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-span-2 {
  color: #00ffae;
  margin-left: 1rem;
}
.para {
  color: #8d9fb8;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 125.715%;
}
.join-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19.1rem;
  height: 5rem;
  border-radius: 0.9rem;
  background: #00ffae;
  color: #000;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  border: none;
}
@media (max-width: 1200px) {
  .container {
    height: auto;
  }

  .first {
    gap: 3.4rem;
    padding-left: 8.5rem;
    flex-grow: 1;
  }

  .text-top {
    gap: 1.19rem;
    max-width: 46.92rem;
  }

  .title {
    font-size: 4.6rem;
    line-height: 6.12rem;
  }

  .title-span-2 {
    margin-left: 0.85rem;
  }

  .para {
    font-size: 17px;
    line-height: 107.85%;
  }

  .join-btn {
    width: 16.2rem;
    height: 4.25rem;
    border-radius: 0.765rem;
    font-size: 1.36rem;
  }
}
@media (max-width: 900px) {
  .container {
    height: auto;
  }
  .wrapper {
    flex-direction: column;
  }
  .first {
    gap: 2.54rem;
    padding-left: 0;
    flex-grow: 1;
    padding: 8.6rem 2rem 5rem 2.3rem;
  }

  .text-top {
    gap: 0.9rem;
    max-width: 90%;
  }

  .title {
    font-size: 3.2rem;
    line-height: 3.55rem;
  }

  .title-span-2 {
    margin-left: 0.7rem;
  }

  .para {
    font-size: 14px;
    line-height: 125%;
  }

  .join-btn {
    width: 131px;
    height: 34.293px;
    border-radius: 0.62rem;
    font-size: 1.2rem;
  }
}
