.container {
  display: flex;
  flex-direction: column;
  gap: 5.8rem;
  padding: 10rem 12.9rem 10.2rem;
  align-items: center;
  position: relative;
}
.title {
  font-size: 5.5rem;
  font-weight: 400;
  line-height: 7.2rem;
}
.title-span-1 {
  background: var(
    --asa,
    linear-gradient(
      92deg,
      #fff 3.42%,
      rgba(255, 255, 255, 0.93) 56.55%,
      rgba(255, 255, 255, 0) 111.05%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title-span-2 {
  color: #00ffae;
  margin-left: 1rem;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.item,
.active-item {
  display: flex;
  width: 100%;
  padding: 3rem;
  align-items: center;
  /* gap: ; */
  border-radius: 10px;
  border: 1px solid #00ffae;
  background: linear-gradient(135deg, #04111b 0%, #04101a 60%);
  transition: all 0.3s ease-in-out;
  position: relative;
}
.active-item {
  background: #00ffae;
}
.question-and-answer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  transition: all 0.3s ease-in-out;
}

.question,
.active-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  transition: all 0.3s ease-in-out;
}
.question-num,
.active-question-num {
  color: #00ffae;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 3.5rem;
  text-transform: capitalize;
  margin-right: 3rem;
  transition: all 0.3s ease-in-out;
}
.active-question-num {
  background: linear-gradient(135deg, #04111b 0%, #04101a 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.question-text {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
}
.icon-wrapper {
  display: flex;
  min-width: 3.12rem;
  min-height: 3.12rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.answer {
  font-feature-settings: "liga" off;
  font-family: "DM Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 23px;
  background: linear-gradient(135deg, #04111b 0%, #04101a 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 95%;
}
.active-question-text {
  font-size: 1.6rem;
  font-weight: 600;
  background: var(--assssss, linear-gradient(135deg, #04111b 0%, #04101a 60%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.green-ball-2 {
  width: 458px;
  height: 205px;
  background: rgba(0, 255, 174, 0.28);
  filter: blur(150px);
  position: absolute;
  bottom: 163px;
  right: -87px;
}

.green-ball {
  width: 458px;
  height: 205px;
  background: rgba(0, 255, 174, 0.28);
  filter: blur(150px);
  position: absolute;
  top: 209px;
  left: -437px;
  /* left: -50%; */
}
@media (max-width: 1250px) {
  .container {
    gap: 4.93rem;
    padding: 8.5rem 10.965rem 8.67rem;
  }

  .title {
    font-size: 4.675rem;
    line-height: 6.12rem;
  }

  .title-span-2 {
    margin-left: 0.85rem;
  }

  .questions {
    gap: 0.85rem;
  }

  .item,
  .active-item {
    padding: 2.55rem;
    border-radius: 8.5px;
  }

  .question-and-answer {
    gap: 1.28rem;
  }

  .question,
  .active-question {
    flex-grow: 1;
  }

  .question-num,
  .active-question-num {
    font-size: 3.23rem;
    line-height: 2.975rem;
    margin-right: 2.55rem;
  }

  .question-text {
    font-size: 1.36rem;
  }

  .icon-wrapper {
    min-width: 2.65rem;
    min-height: 2.65rem;
  }

  .answer {
    font-size: 11.9px;
    line-height: 19.55px;
  }

  .active-question-text {
    font-size: 1.36rem;
  }

  .green-ball-2 {
    width: 389.3px;
    height: 174.25px;
    filter: blur(150px);
    bottom: 138.55px;
    right: -73.95px;
  }

  .green-ball {
    width: 389.3px;
    height: 174.25px;
    filter: blur(150px);
    top: 177.65px;
    left: -371.45px;
  }
}
@media (max-width: 900px) {
  .container {
    gap: 3.7rem;
    padding: 5rem 0 5rem;
    width: 91%;
    margin: 0 auto;
  }

  .title {
    font-size: 3.2rem;
    line-height: 4.1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .title-span-2 {
    margin-left: 0.7rem;
  }

  .questions {
    gap: 1.8rem;
  }

  .item,
  .active-item {
    padding: 3rem;
    border-radius: 10px;
  }

  .question-and-answer {
    gap: 1rem;
  }

  .question,
  .active-question {
    flex-grow: 1;
  }

  .question-num,
  .active-question-num {
    font-size: 3.8rem;
    line-height: 3.5rem;
    margin-right: 3rem;
  }

  .question-text {
    font-size: 1.6rem;
  }

  .icon-wrapper {
    min-width: 3.2rem;
    min-height: 3.2rem;
  }

  .answer {
    font-size: 14px;
    line-height: 23px;
  }

  .active-question-text {
    font-size: 1.6rem;
  }

  .green-ball-2 {
    width: 389.3px;
    height: 174.25px;
    filter: blur(150px);
    bottom: 138.55px;
    right: -73.95px;
  }

  .green-ball {
    width: 389.3px;
    height: 174.25px;
    filter: blur(150px);
    top: 177.65px;
    left: -371.45px;
  }
}
